<div style="padding-top:150px;width:80%;margin-left:10%;text-align:justified;">
  <div class="hero-unit">
    <h2>About using this site!!</h2>
    <p>
      There are many attribute for every slide.
      the slide is created and and you can see the changes in the preview window.<br/>

      There are two buttons:<br/>
      <ul>
        <li>Preview</li>
        <li>Controll</li>
      </ul><br/>

      <b>Preview :</b> opens your actual presentation, use F11 to full screen it.<br/>
      <b>Controll :</b> is mainly to controll your presentation through incompatible browsers
    </p>
    <p>  
      The url for your presentation, if shared, the slides change at all location at the same time and any one who opens it can change the slides.
    </p>
  </div>
</div>