<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>impress.js | presentation tool based on the power of CSS3 transforms and transitions in modern browsers | by Bartek Szopka @bartaz</title>
    
    <meta name="description" content="impress.js is a presentation tool based on the power of CSS3 transforms and transitions in modern browsers and inspired by the idea behind prezi.com." />
    <meta name="author" content="Bartek Szopka" />
    <%= stylesheet_link_tag 'impress-demo.css' %>
    <%#= javascript_include_tag 'application', :cache => true %>
    <%#= javascript_include_tag "jquery-1.6.3.min" %>
   
    <%= image_tag "favicon.png"%>
    <%= image_tag "apple-touch-icon.png"%>
</head>

<body class="impress-not-supported" onload="setTimeout('auto_reload()',200);">
  
<div class="fallback-message">
  <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
  <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<div id="impress">

  <div id="bored" class="step slide" data-x="-1000" data-y="-1500">
    <q>Trying to port our <b>bread and butter</b> to <b>web</b> -Kritivasas Shukla</q>
  </div>

  <div id="add_a_tab" class="step" data-x="-100000" data-y="-120000" data-z="900" data-rotate="120" data-scale="900">
    <q> So whats the challenge? I know its written in <b>javascript </b>, so porting on web would be easy and fine!! </q>
  </div>

  <div id="add_new_tab" class="step" data-x="20000" data-y="-10000"  data-z="500" data-rotate="190" data-scale="200">
    <b><h1>Exactly!!</h1></b>
    <q>That javascript is what we are valued for!! well most of it #hatsofftojsguys</q>
  </div>

  <div id="add_new" class="step" data-x="2000" data-y="12500" data-z="100" data-rotate="160" data-scale="30">
    <q>So what goes different on <b>web</b> !! </q><br/>
    <center><q>Can <b>you</b> tell me?? </q></center>
  </div>

  <div class="step slide" data-x="0" data-y="-1500">
    <q>Well thats right!!<br/><strong> javascript </strong> is rendered by <strong>browser on client-side</strong><br/></q>
  </div>

  <div id="why_the_heck" class="step"  data-rotate="-240" data-x="0" data-z="10000" data-y="150000" data-scale="8000">
    <q> <b>So what?</b>  </q>
  </div>

  <div class="step slide" data-x="1000" data-y="-1500" data-rotate="180" >
      <q>Well rendering javascript is difficult <strong>without DOM</strong></q>
  </div>

  <!--<div id="title" class="step" data-x="0" data-y="0" data-scale="4">-->
  <div class="step slide" data-x="0" data-y="250"  data-scale="4">
    <q>So what we did was we modified the js code a little
      and using <b> node.js</b> and created a DOM environment on server side!!</q>
  </div>

  <div id="why_the_js" class="step"  data-rotate="-240" data-x="-400000" data-y="-300000" data-scale="2000">
    <q> <b>So why node.js?</b><br/> What the hell is DOM ?<br/></q>
  </div>


  <!-- <div id="its" class="step" data-x="850" data-y="3000" data-rotate="45" data-scale="5">-->
  <div class="step slide" data-x="850" data-y="3000">
    <q><center>Well you know <b>node.js</b> may have reasons to <strong>excel</strong> <b>but in our case</b> <br/>
      we're creating jsdom environment same that exists in browser <br/>
      and then the miracle happens </center></q>
  </div>

  <div id="big" class="step" data-x="3500" data-y="2100" data-rotate="135" data-scale="6">
    <p>So seriously end it <b>asap</b> <span class="thoughts">sachin has to go!!</span></p>
  </div>

  <div id="tiny" class="step" data-x="2825" data-y="2325" data-z="-3000" data-rotate="300" data-scale="1">
    <q>Yeah yeah!!</q>
    <p>so I extracted html from it<b> <br/><a href="http://192.168.1.21:8000/?chapter=multiplication&worksheet=m5ml_2dPartMul&hardness=300&variant=1" target="_blank">see i t here</a></b></p>
  </div>

  <div id="ing" class="step" data-x="3500" data-y="-850" data-z="3000" data-rotate="270" data-scale="6">
    <center><p>the link you saw is <b class="positioning">just like saved html text</b> Please dont say <a href="http://192.168.1.21:8000/?chapter=multiplication&worksheet=m5ml_2dPartMul&hardness=300&variant=1" target="_blank"><b> what link??</b></a></p></center>
  </div>

  <div id="rails" class="step"  data-rotate="-240" data-x="300000" data-y="300000" data-scale="4000">
    <q> <b>So where does rails comes in?</b>  </q>
  </div>

  <div id="imagination" class="step" data-x="6700" data-y="-300" data-scale="6">
    <center><p>Well! rails plays role in <b>presenting</b>,  deciding  <b class="imagination">whats next question?</b><br/>Works as oracle,<br/>#IfYouKnowWhatIMean</p></center>
  </div>

  <div id="source_datas" class="step" data-x="6300" data-y="2000"  data-z="3000" data-rotate="20" data-scale="4">
      <p>want to know more?</p>
      <q><a href="http://192.168.1.21:4000/attempts/w/47/show/127" target="_blank">Visit the app!!</a></q>
  </div>

  <div id="why_the_heck_data" class="step"  data-rotate="90" data-x="0" data-y="300000" data-scale="8000">
    <q> <b>Can you tell something about rails??</b>  </q>
  </div>

  <div id="source_data_browser" class="step" data-x="12300" data-y="30000"  data-z="9000" data-rotate="20" data-scale="20">
      <p>So is there a role played by browser?</p>
  </div>

  <div id="one-more-thing" class="step" data-x="6000" data-y="4000" data-scale="2">
      <p>one more thing...</p>
  </div>

  <div id="its-in-3d" class="step" data-x="6200" data-y="4300" data-z="-1100" data-rotate-x="-30" data-rotate-y="10" data-scale="2">
      <p><span class="have">don't</span> <span class="you">forget</span> <span class="noticed">to</span> <span class="its">clap</span>!!</p>
  </div>

  <div id="overview" class="step" data-x="3000" data-y="1500" data-scale="10">
  </div>

</div>

<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>
<script>
if ("ontouchstart" in document.documentElement) { 
    document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
}
</script>

<%= javascript_include_tag 'impress.js' %>
<script>impress().init();</script>


</body>
</html>
