<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>impress.js | presentation tool based on the power of CSS3 transforms and transitions in modern browsers | by Bartek Szopka @bartaz</title>
    
    <meta name="description" content="impress.js is a presentation tool based on the power of CSS3 transforms and transitions in modern browsers and inspired by the idea behind prezi.com." />
    <meta name="author" content="Bartek Szopka" />
    <%= stylesheet_link_tag 'impress-demo.css' %>
    <%#= javascript_include_tag 'application', :cache => true %>
    <%#= javascript_include_tag "jquery-1.6.3.min" %>
   
    <%= image_tag "favicon.png"%>
    <%= image_tag "apple-touch-icon.png"%>
</head>

<body class="impress-not-supported" onload="setTimeout('auto_reload()',200);">
  
<div class="fallback-message">
  <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
  <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<div id="impress">

  <div id="bored" class="step slide" data-x="-100000" data-y="-1500">
    <q> Making your presentations to leave <b>imprints</b> on the minds of your <b>audience</b> -Kritivasas Shukla</q>
    please make sure you use chrome, safari in worst case firefox but please for the love of god no internet explorer
  </div>

  <div id="add_a_tab" class="step" data-x="-100000" data-y="-120000" data-z="" data-rotate="120" data-scale="900">
    <q> I can explain two questions <b>why? features?</b>, figure out third one yourself!!<b>How?</b> </q>
  </div>

  <div id="add_new_tab" class="step" data-x="20000" data-y="-10000"  data-z="500" data-rotate="190" data-scale="20">
    <b><h1>So Why!!</h1></b>
    <q>Well most of this presentation you see in because of a brilliant javascript!! well most of it #impress.js</q><br/>
    <q>You can rotate, translate and scale what else you need!!</q>
    <q>When you see a div tag while adding slides. Do you know you can edit the values in them too??</q>
  </div>

  <div id="add_new" class="step" data-x="2000" data-y="12500" data-z="100" data-rotate="160" data-scale="30">
    <q>So what did you do, that you are <b>boasting</b> of!! </q><br/>
    <center><q>Can <b>you</b> tell me?? </q></center>
  </div>

  <div class="step slide" data-x="0" data-y="-1500">
    <q>First of all!!<br/><strong> no boasting </strong> its my parting gift for <strong>college</strong><br/></q>
  </div>

  <div id="why_the_heck" class="step"  data-rotate="-240" data-x="0" data-z="10000" data-y="150000" data-scale="8000">
    <q> <b>So what?</b> you have done nothing!! </q>
  </div>

  <div id="231" class="step slide" data-x="1000" data-y="-1500" data-rotate="180" >
      <q>Well I made use of html as less as possible so anyone can <strong>present awesomely</strong></q>
  </div>

  <!--<div id="title" class="step" data-x="0" data-y="0" data-scale="4">-->
  <div id="123" class="step slide" data-x="0" data-y="250"  data-scale="4">
    <q><b>but!!</b><br/> that doesn't mean you dont need html at all.
      You need html for adding <b> bold </b>, <i>italic</i> and to add images?</q>
  </div>

  <div id="why_the_js" class="step"  data-rotate="-240" data-x="-400" data-y="-3000" data-scale="2">
    <q> <b>To add images</b><br/> you have to upload it at some public url and use <b>html img tag</b> to access, same goes for charts<br/> you can use google docs to create image format of your chart</q>
  </div>


  <!-- <div id="its" class="step" data-x="850" data-y="3000" data-rotate="45" data-scale="5">-->
  <div class="step slide" data-x="850" data-y="3000">
    <q><center>Ohh!! well!!<br/>so you  wasted our time for <strong>nothing</strong>
    <br/><b>wait wait!!</b></center></q>
  </div>

  <div id="big" class="step" data-x="3500" data-y="2100" data-rotate="135" data-scale="1">
    <p> I added something else<br/>a little <b>privacy</b> though don't keep your super secret presetations here!!</p>
  </div>

  <div id="tiny" class="step" data-x="2825" data-y="2325" data-z="-3000" data-rotate="300" data-scale="1">
    <q>Privacy how?</q>
    <p>Well you see, every presentation needs a unique id to be accessible. but once that uid is shared, anyone can access it</p>
  </div>

  <div id="ing" class="step" data-x="3500" data-y="-850" data-z="3000" data-rotate="270" data-scale="6">
    <center><p>also<b class="positioning">any one who opens your presentation
    </b> has privilage to change it. Well thats a boon as well as a curse</p>
    </center>
  </div>

  <div id="rails" class="step"  data-rotate="-240" data-x="300000" data-y="300000" data-scale="4000">
    <q> <b>How is it a boon?</b> Think?  </q>
  </div>

  <div id="imagination" class="step" data-x="6700" data-y="-300" data-scale="6">
    <center><p>Well!  its a boon when in <b>right hands</b>,  i mean you can run your presentation from any<b class="imagination">corner</b>of the world,<br/>#AlthoughYouWouldNotUseItThatWay</p></center>
  </div>

  <div id="source_datas" class="step" data-x="6300" data-y="2000"  data-z="3000" data-rotate="20" data-scale="1">
    <p>I <b>most of the times</b>, use an ipad to run my presentation</p>
      <q>Thats makes it fun, imagine yourself presenting using your smartphone</q>#makeSureYouHaveCompatibleBrowser
  </div>

  <div id="why_the_heck_data" class="step"  data-rotate="90" data-x="0" data-y="300000" data-scale="8000">
    <q> <b>Well I'm trying to improve it!!</b> but till then its still useful </q>
  </div>

  <div id="source_data_browser" class="step" data-x="12300" data-y="30000"  data-z="9000" data-rotate="20" data-scale="20">
    <p>So what else do you plan to add?</p>
  </div>

  <div id="one-more-thing" class="step" data-x="6000" data-y="4000" data-scale="2">
      <p>drag and drop for html</p>
  </div>

  <div id="its-in-3d" class="step" data-x="6200" data-y="4300" data-z="-1100" data-rotate-x="-30" data-rotate-y="10" data-scale="2">
      <p><span class="have">don't</span> <span class="you">forget</span> <span class="noticed">to</span> <span class="its">clap</span>!!</p>
  </div>

  <div id="overview" class="step" data-x="3000" data-y="1500" data-scale="10">
  </div>

</div>

<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>
<script>
if ("ontouchstart" in document.documentElement) { 
    document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
}
</script>

<%= javascript_include_tag 'impress.js' %>
<script>impress().init();</script>


</body>
</html>
