/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/
.rest-in-place {
  background-color: #FFFFE0;
}

.field {
  padding: 8px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  background-color: #eaffea;
  margin-top: 3px;
  margin-left: 1.7%;
  width: 22%;
  float:left;
}

.field_act {
  padding: 8px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  background-color: #eaffea;
  margin-top: 3px;
  margin-left: 1.5%;
  width: 98%;
  float:left;
}

.form_content {
  display:inline;
}

.show_a_slide {
  background-color: #eee;
  padding: 10px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  margin-top:4px;
}

.content_slide {
  background-color: #ddd;
  border-radius: 10px;
  -moz-border-radius: 10px;
  text-align:left;
  padding:5px;
}

.make_presentation {
  width:90%;
  margin:auto;
}

.actions {
  float:left;
}


.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#458bba), to(#65a9d7));
   background: -webkit-linear-gradient(top, #458bba, #65a9d7);
   background: -moz-linear-gradient(top, #458bba, #65a9d7);
   background: -ms-linear-gradient(top, #458bba, #65a9d7);
   background: -o-linear-gradient(top, #458bba, #65a9d7);
   padding: 13.5px 27px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #193e57;
   background: #193e57;
   color: #fceafc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
